/******************************************************************************/
/* Font */
/******************************************************************************/

@font-face {
    font-family : Lobster;
    src         : url('lobster.otf');
}


/******************************************************************************/
/* HTML and Body */
/******************************************************************************/

html, body {
	height : 100%;
    margin : 0;
}

body {
    font-family      : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size        : 12px;
    background-image : url(background.png);
/*    background-color : #F2F2F2;*/
}


/******************************************************************************/
/* Title */
/******************************************************************************/

div.title {
    display        : block;
    width          : 100%;
    text-align     : center;
    margin         : 0;
    padding-top    : 10px;
    padding-bottom : 10px;
    background     : #212121;
    background     : -moz-linear-gradient(top, #373737, #212121);
    background     : -webkit-linear-gradient(top, #373737, #212121);
    background     : -ms-linear-gradient(top, #373737, #212121);
    background     : -o-linear-gradient(top, #373737, #212121);
    background     : linear-gradient(top, #373737, #212121);
}

div.title h1 {
    font-family    : serif; /* Georgia, "Times New Roman",, Times, serif  */
	font-size      : 42px;
    letter-spacing : 10px;
	color          : #ffffff;
    display        : block;
    text-align     : center;
    margin         : 20px 0 10px 0;
}

div.title h1:first-letter {
    font-style  : italic;
}

div.title h2 {
    font-family : serif;
    font-style  : italic;
	font-size   : 16px;
    color       : #959595;
    display     : block;
    text-align  : center;
    margin : 0px;
}

div.title a {
    display         : inline-block;
    padding         : 10px;
    text-align      : center;
    border-radius   : 10px;
    margin          : 10px;
    color           : #373737;
    text-decoration : none;
    font-style      : italic;
}

div.title a:hover{
    color : #9FC556;
}

div.title a img {
    vertical-align : middle;
    margin-left : 5px;
    margin-right : 5px;
}


/******************************************************************************/
/* Main div (encompassing menu and content) */
/******************************************************************************/

div.main {
    display      : block;
    width        : 910px;
    margin       : 0;
    padding      : 0;
    margin-left  : auto;
    margin-right : auto;
    background-color : green;
}


/******************************************************************************/
/* Menu */
/******************************************************************************/

div.menu {
    display        : inline-block;
    width          : 130px;
    margin         : 0;
    margin-top     : 25px;
    margin-right   : 30px;
    padding        : 10px;
    padding-top    : 0px;
    vertical-align : top;
    border-radius  : 8px;
    box-shadow     : 0px 0px 5px #888888;
    background-color : white;
    float : left;
}

div.menu h1 {
    font-size     : 18px;
    margin        : 0px;
    margin-top    : 10px;
    margin-bottom : 10px;
	font-family : 'Lobster', cursive;
    font-weight : normal;
}

div.menu a:link, div.menu a:visited {
    display          : block;
    text-decoration  : none;
    padding-left     : 10px;
    color            : #686868;
}

div.menu a:hover {
    color : #000000;
}

div.menu a.aDownload, div.menu a.aPDF {
    display         : block;
    color           : white;
    text-decoration : none;
    padding         : 7px;
    margin-left     : 0px;
    margin-right    : 0px;
    margin-top      : 8px;
    border          : 2px solid #FFFFFF;
    border-radius   : 8px;
    box-shadow      : 0px 0px 2px #888888;
    text-align      : center;
}

div.menu a.aDownload {
    background      : #84AE4C;
    background      : -moz-linear-gradient(   top, #9FC556, #84AE4C); /*ADD05A*/
    background      : -webkit-linear-gradient(top, #9FC556, #84AE4C);
    background      : -ms-linear-gradient(    top, #9FC556, #84AE4C);
    background      : -o-linear-gradient(     top, #9FC556, #84AE4C);
    background      : linear-gradient(        top, #9FC556, #84AE4C);
}

div.menu a:hover.aDownload {
    background      : #84AE4C;
}

div.menu a.aPDF {
    background      : #0092FF;
    background      : -moz-linear-gradient(   top, #42AEFF, #0092FF);
    background      : -webkit-linear-gradient(top, #42AEFF, #0092FF);
    background      : -ms-linear-gradient(    top, #42AEFF, #0092FF);
    background      : -o-linear-gradient(     top, #42AEFF, #0092FF);
    background      : linear-gradient(        top, #42AEFF, #0092FF);
}

div.menu a:hover.aPDF {
    background      : #0092FF;
}


/******************************************************************************/
/* Content */
/******************************************************************************/

div.content {
	display   : inline-block;
    width     : 720px;
    margin    : 0 0 30px 0;
    padding   : 0;
	font-size : 12px;
    float     : right;
    /*background-color : pink;*/
}

div.content h1 {
	margin-top  : 20px;
	font-family : Lobster, cursive;
	font-size   : 24px;
	font-weight : normal;
}

div.content h2 {
	margin-top  : 20px;
	color       : #000000;
	font-family : Verdana, "Times New Roman", Times, serif;
	font-size   : 14px;
	font-weight : bold;
}

div.content p {
    text-align : justify;
}

div.content a:link, div.content a:visited {
    text-decoration : none;
    color           : blue;
}

div.content img.imgCenter {
	display      : block;
    margin-left  : auto;
    margin-right : auto;
}

div.content li {
    margin-bottom : 10px;
}

div.content table {
    margin-left     : auto;
    margin-right    : auto;
    border-collapse :collapse;
    border-spacing  : 0;
}

div.content tr {
    margin  : 0;
    padding : 0;
}

div.content td {
    text-align : center;
    margin     : 0;
    padding    : 0;
}

div.content img {
    margin         : 0;
    padding        : 0;
    vertical-align : bottom;
}

div.content pre.code {
    background : #F9F7F3;
    padding    : 10px;
    border     : 1px solid #C8C8C8;
    text-align : left;
}

div.content span.c {
	color: #228B22;
}

div.content span.f {
	color: #0000FF;
}

div.content span.t {
	color: #A020F0;
}


